@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-weight: 700;
}

/* Для ссылок */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.login-button .MuiButton-contained {
  background-color: #FFA500;
}

.login-button .MuiButton-contained:hover {
  background-color: #FFA500;
  opacity: 1;
}
